@model Śluber.Models.Wedding

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wedding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WifeName" class="control-label"></label>
                <input asp-for="WifeName" class="form-control" />
                <span asp-validation-for="WifeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HusbandName" class="control-label"></label>
                <input asp-for="HusbandName" class="form-control" />
                <span asp-validation-for="HusbandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeddingDate" class="control-label"></label>
                <input asp-for="WeddingDate" class="form-control" />
                <span asp-validation-for="WeddingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeddingPlace" class="control-label"></label>
                <input asp-for="WeddingPlace" class="form-control" />
                <span asp-validation-for="WeddingPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
